@model IEnumerable<PrisonManagementWebApp.Models.Prisoner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Возраст
            </th>
            <th>
                Пол
            </th>
            <th>
                Изображение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(DateTime.Now.Year - item.Birthday.Year)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Genger)
                </td>
                <td>
                    <img class="pic2" src="@item.Image">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
